<html>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <head>
        <title>My first example using Spring 3 MVC</title>
    </head>
    <body>
        <h2>${message}</h2>
        <h2>${id}</h2>
    </body>
</html>