<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>${parentInformation.title}</title>
<style>
body {margin:0;background:#fff;font-family:arial narrow;}
.a {color:#333;padding:20px 20px 5px 20px;text-align:left;}
.a span {font-size:26px;line-height:130%;}
.tips {padding:0 20px;font-size:12px;color:#999;padding-bottom:20px;}

.content {font-size:16px;padding:0 20px;}
.content p {text-indent:2em;font-size:18px;}
.pic img {width:100%;}

.comment {padding:0 20px;}
.rm_title {font-size:16px;font-weight:bold;padding:10px 0;border-bottom:1px solid #ccc;color:#666;}

.pl_list {border-bottom:1px solid #f1f1f1;background:url(/imgs/micon.png) no-repeat;padding:0 0 0 20px;background-size:5%;}
.pl1 {color:#666;font-size:14px;}

.copy {margin:20px;font-size:12px;color:#999;}
.banner {margin:20px;}
.banner img {width:100%;}

.footer {text-align:center;font-size:8px;background:#bbb;color:#666;font-family:arial;}

/* #769 - max
================================================== */

@media only screen and (min-width: 769px) and (max-width: 4000px) 
{
body {margin:20px 0;}
.copy,.banner {width:560px;margin:10px auto;}
.a {width:560px;margin:0 auto;}
.tips {width:560px;margin:0 auto;}
.content {width:560px;margin:0 auto;}
.comment {width:560px;margin:0 auto;}
.pl_list {background-size:3%;}
}

/* #10 - 768px
================================================== */

@media only screen and (min-width: 10px) and (max-width: 768px) 
{

}



</style>
</head>
<body>
<div style="display:none;"><img src="/imgs/wxpic.jpg" /></div>




<div class="a"><span>${information.title}</span></div>
<div class="tips">我的头条 2016-01-19 12:38 评论23948条</div>

<div class="content">
<div class="pic"><img src="http://10.58.181.219/ugcpm/d/file/wodetoutiao/2016-01-19/6be9c66e1bd4db69bf2a5a202f08c554.jpg" /></div>
	#foreach($content in $contents) 	
		#content 
	#end
</div>

<div class="comment">
 <p class="rm_title">热门评论</p>
    <div class="pl_list">
		#foreach($comment in $comments) 
			#comment 
		#end
	</div>
</div>

<div class="banner">
<a href="goto/"><img src="/imgs/banner.jpg" /></a>
</div>


<div class="copy">
本页由“一起上头条”APP根据网友指令进行自动生成，内容均属虚构，仅供茶余饭后娱乐之用，请勿入戏太深不可自拔；一切皆出于娱乐大众之需，如涉侵权望及时告知。
<br /><br />&copy;2016 一起上头条APP 专注恶搞一百年
</div>





</body>
<script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?390c93f9a331ac248f6755126edf7561";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
</script>
</html>
